<!DOCTYPE html>
<html>
<head>
    <title>Fuzzy TOPSIS Analiza</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Fuzzy TOPSIS Analiza</h1>
    <br>
    <p>To je vmesnik, za Fuzzy TOPSIS analizo.</p>
    <p>Najprej vas pozivamo, da naložite datoteko z nastavitvami (nastavitve.csv).</p>
    <p>Potem, na naslednji strani naložite datoteko z podatki.</p>
    <p>Za test smo pripravili datoteke data4x4x6.csv in data3x4x6.csv in data4x5x6.csv.</p>
    <br>
    
    <a href="/settings">
        <button>Gremo na nastavitve</button>
    </a>
    
    

    

</body>
</html>
